<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<div class="container">
    <button class="question"><h2>Question 1</h2><p class="plus">+</p><p class="minus">-</p></button>
    <div class="answer">
        <p>Aliquam pharetra nisi sed tincidunt semper. Sed dictum nulla nec nisl elementum, eget eleifend odio mattis. Nulla interdum feugiat erat vitae malesuada. Nulla ac turpis augue. Vestibulum tristique quam id sapien auctor volutpat sit amet vitae neque. Proin commodo enim ut nunc eleifend, eget luctus nisl porttitor. Curabitur elit felis, eleifend sit amet blandit tincidunt, gravida rutrum urna. Aliquam ac elit sodales, pharetra risus sed, venenatis velit. Quisque lectus sem, commodo eu fringilla in, faucibus et lorem. Nulla sapien urna, bibendum at lacus sit amet, tempus blandit leo. Quisque eu tristique nisi. In ac ligula sodales, ultricies tortor ac, semper justo. Nunc sollicitudin justo vitae ullamcorper porta. Praesent dictum condimentum posuere. Curabitur scelerisque vitae purus eget viverra. Nullam accumsan est et ligula viverra, quis euismod est consectetur.</p>
    </div>

    <button class="question"><h2>Question 2</h2><p class="plus">+</p><p class="minus">-</p></button>
    <div class="answer">
        <p>Donec dapibus vulputate mattis. Nunc aliquet turpis at dapibus mollis. Vestibulum non condimentum nibh. Duis lobortis risus et auctor semper. Morbi nec magna facilisis, gravida turpis eget, viverra ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla eget sem volutpat, laoreet mauris in, bibendum nisl. Nullam dictum ultricies lectus, ut rutrum libero scelerisque ac. Maecenas at tempor mauris, nec vehicula turpis. Suspendisse rhoncus dui sed sem sagittis, vel tempor justo dignissim. Fusce eleifend erat ac faucibus feugiat. Praesent pulvinar diam nisl, vel venenatis risus hendrerit eu. Proin sollicitudin tincidunt turpis ut congue. In iaculis molestie metus bibendum maximus. Sed in neque id leo aliquet molestie quis vel tortor.</p>
        <p>Nunc faucibus, nisi vitae pulvinar tempus, enim justo molestie est, non scelerisque sapien dolor sed purus. Pellentesque sed sagittis turpis. Morbi dapibus, eros quis lobortis accumsan, ex nisi finibus dolor, non varius felis libero eget nulla. Integer sed auctor lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec iaculis placerat dolor, aliquam suscipit quam tincidunt accumsan. Aenean vitae nunc sit amet risus lacinia pellentesque sit amet at massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut malesuada vitae risus ac venenatis. Vestibulum eu magna sagittis, cursus nisi sed, tristique odio. Aenean vestibulum dolor nisi. Duis dolor augue, facilisis porta egestas ut, vestibulum sit amet dolor. Suspendisse vestibulum sodales sagittis. Nam lobortis est nec turpis pretium imperdiet. Duis imperdiet tellus et mauris malesuada, ac viverra ante tempus.</p>
    </div>

    <button class="question"><h2>Question 3</h2><p class="plus">+</p><p class="minus">-</p></button>
    <div class="answer">
        <p>Nulla imperdiet consectetur nunc ut hendrerit. Vivamus a sem quis orci viverra tempor. Quisque venenatis est eget massa maximus accumsan. Praesent ornare ipsum fermentum quam dictum, in placerat justo porttitor. Donec sodales diam et mi molestie, eget pellentesque purus mollis. Aliquam accumsan turpis ac orci pulvinar vestibulum. Donec dignissim sodales dui eget viverra. Fusce tincidunt lobortis turpis, ut ullamcorper lorem faucibus id.</p>
        <p>Donec non tortor gravida, dignissim libero vitae, cursus ante. In mi metus, pharetra vitae vestibulum id, interdum vitae odio. Donec facilisis ante dui, non congue arcu pretium nec. Donec ac faucibus enim, vel tincidunt erat. Curabitur consequat lectus quis finibus mollis. Aenean dignissim ultrices metus. Nulla felis nulla, tincidunt non ex sed, molestie ornare metus.</p>
        <p>Phasellus ac accumsan ligula. Aliquam tincidunt placerat nunc, quis aliquet elit bibendum non. Pellentesque dapibus id sem ac scelerisque. Aenean sed elementum risus, sed accumsan odio. Phasellus dolor leo, tempor sit amet risus eu, aliquet blandit tortor. Morbi fermentum lobortis arcu, quis condimentum sem semper a. Nulla sagittis vel nulla ac mattis. Quisque luctus auctor nisi ut pulvinar. Phasellus quis odio sodales, dignissim lectus vitae, imperdiet turpis.</p>
    </div>

    <button class="question"><h2>Question 4</h2><p class="plus">+</p><p class="minus">-</p></button>
    <div class="answer">
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi tristique eu leo ac aliquam. Aliquam fermentum justo vel dui convallis, non blandit massa eleifend. Aenean posuere elementum elementum. Etiam ultricies ultricies metus, id vulputate arcu facilisis quis. Donec accumsan eu arcu scelerisque gravida. Nunc eget justo sed erat pretium venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed neque orci, lobortis sed magna in, rhoncus auctor libero. Donec vulputate justo tortor, volutpat lobortis nunc posuere in. Curabitur congue ligula id mi dapibus, eu faucibus mi mattis. Morbi a tempor nulla. Fusce et lacus nec augue malesuada porta fermentum quis nibh. Duis nec urna aliquam, mollis nisl nec, convallis libero. Etiam nibh sem, sodales quis justo nec, tincidunt gravida neque.</p>
        <p>Praesent rutrum vel libero sed egestas. Suspendisse pulvinar egestas justo fermentum porta. Maecenas velit est, tempor non eros vel, imperdiet porta eros. Aliquam viverra sit amet magna vel sollicitudin. Pellentesque ornare orci eu dui dictum fermentum. Maecenas id sapien vehicula, commodo arcu a, finibus neque. In accumsan eros lorem, vel sodales ipsum aliquam in. Nam facilisis felis id volutpat congue. Donec congue orci a consequat mattis. Nunc lacinia tellus non elementum ultricies. Vivamus egestas vehicula ipsum, et luctus erat elementum nec. Pellentesque tristique est non orci consequat hendrerit. Phasellus tempus, felis in iaculis posuere, leo lacus hendrerit justo, ac semper ante leo semper purus. Sed ut sagittis lacus, quis fermentum quam. Pellentesque ullamcorper magna massa, a placerat felis tempus finibus. Vivamus interdum scelerisque lacus eleifend commodo.</p>
        <p>Mauris nec mollis dui. Vestibulum hendrerit sem orci, sed rutrum nisi hendrerit eu. Donec at pharetra purus, sit amet varius est. Phasellus vitae condimentum augue. Cras dignissim fringilla elit id aliquet. Maecenas condimentum vehicula magna vel facilisis. Proin lacinia nunc est, eget iaculis lacus venenatis sed. Praesent libero neque, mollis in accumsan non, rhoncus quis quam. In hac habitasse platea dictumst. Morbi mattis, urna id porttitor posuere, enim felis porttitor ex, eu ornare sapien neque vitae sem. Nunc efficitur accumsan enim, vel consectetur augue. Maecenas vestibulum massa non tincidunt lobortis. Suspendisse et porta arcu, nec sollicitudin leo. Nullam euismod auctor efficitur. Pellentesque at arcu at turpis vehicula blandit.</p>
        <p>Nulla ante ex, euismod interdum tellus a, pharetra ornare urna. Nullam velit odio, porta ut orci ut, rhoncus elementum orci. Mauris ornare urna et efficitur mollis. Sed ac maximus odio. Nunc semper cursus metus, ut dapibus ante pellentesque in. Integer porttitor elit dignissim gravida sollicitudin. Proin a lorem metus. Quisque neque nibh, tempus quis mi iaculis, consequat mollis lectus. Phasellus convallis massa eu metus porta varius. Duis sodales sem nisl, sit amet sagittis sapien hendrerit quis. Vestibulum iaculis eget nunc eget auctor. Sed luctus in risus at pharetra. Aenean in feugiat tellus. Praesent et augue nec elit vestibulum faucibus ac et odio. Curabitur ac dui et est lacinia convallis.</p>
    </div>
</div>

<script src="toggle.js"></script>