.container {
  width: 400px;
}

.question {
  width: 400px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
  cursor: pointer;
}
.question h2, .question p {
  font-weight: 700;
  font-family: sans-serif;
  margin: 10px 0px 10px 0px;
}
.question p {
  font-size: 30px;
}

.minus {
  display: none;
}

.active .plus {
  display: none;
}

.active .minus {
  display: flex;
}

.plus {
  -webkit-animation-name: plus-animation;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;
  /* Safari 4.0 - 8.0 */
  animation-name: plus-animation;
  animation-duration: 3s;
}

.minus {
  -webkit-animation-name: minus-animation;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;
  /* Safari 4.0 - 8.0 */
  animation-name: minus-animation;
  animation-duration: 3s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes plus-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
/* Standard syntax */
@keyframes plus-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes minus-animation {
  from {
    margin-right: 10px;
  }
  to {
    margin-right: 0px;
  }
}
/* Standard syntax */
@keyframes minus-animation {
  from {
    margin-right: 10px;
  }
  to {
    margin-right: 0px;
  }
}
.answer {
  max-height: 0px;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
}
.answer p {
  font-family: sans-serif;
  font-size: 12px;
  text-align: justify;
  padding: 0px 20px 0px 20px;
}

/*# sourceMappingURL=style.css.map */
